#header {
    background-color: #ede2cd;
    width: 100%;
    margin: auto;
    padding: 2px;
    text-align: center;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#fa {
    margin: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}

.newin {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-align: center;
}

.fotogrid {
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,300px));
  gap: 10px;
  text-align: center;
}
  
  .forsidebilleder {
    height: 250px;
    width: 250px;
    object-fit: cover;
    object-position: center;
  }

  h1 {
    font-size: 12px;
    font-weight: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  h2 {
    font-size: 11px;
    font-weight: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .beigecontainer {
    background-color: #ede2cd;
    width: 100%;
    margin: auto;
    padding: 300px;
    position: absolute;
  }